body {
    background-color: #001e2d;
}

/* Above Weather  */


.location {
    margin-top: 20px;
    color: white;
    font-size: 25px;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

/* Weather */

.weather-container1 {
    padding-bottom: 5px;
    color: white;
}

.weatherBorder {
    /* background-color: rgba(255, 255, 255, 0.7);  */
    margin: 4px;
    float: left;
    text-align: center;
    color: white;
}

.temperature-value1 {

    font-size: 45px;
    padding-top: 8rem;
}

.temperature-description1 {
    font-size: 25px;
}

.loadingText {
    text-align: center;
    color: white;
}

.loadingIcon {
    display: block;
    margin: 0 auto;
}

.hide {
    display: none;
}